/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.superoverleague-app-container {
  background-color: #0f172a;
  background-size: cover;
  min-height: 100vh;
}

.superoverleague-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}

.logo-image {
  width: 150px;
  height: 150px;
}

@media screen and (min-width: 768px) {
  .logo-image {
    width: 300px;
    height: 300px;
  }
}

