.myextStyles{
    color: brown;
    background-color: aquamarine;
    padding: 15px;
    box-shadow:10px 5px 5px blue;
}



.bg-container{
    background-color: #0f172a;
    min-height: 100vh;
    background-size: cover;
}

.heading{
    color: #f8fafc;
    font-family: "Roboto";
    font-weight: bold;
}

.image{
    width:300px;
    height:250px;
   
}